@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-outfit: 'Outfit', sans-serif;
    --font-sans: 'Plus Jakarta Sans', sans-serif;
    --font-serif: 'Instrument Serif', serif;

    --color-emerald-50: #f6faf0;
    --color-emerald-100: #ebf5dc;
    --color-emerald-200: #d5ebb8;
    --color-emerald-300: #bfe093;
    --color-emerald-400: #a9d66e;
    --color-emerald-500: #bad284; /* Fresh Green utama */
    --color-emerald-600: #9db36e; /* Untuk teks & tombol */
    --color-emerald-700: #7e9354;
    --color-emerald-800: #60733a;
    --color-emerald-900: #425321;
}

